a{
    padding:15px;
    background-color: gold;
    /* background:#ccc;  */
    border:0 none;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


div{
    padding: 0;
    margin-top: 50px;
    text-align: center; 
}
input {
    padding:5px;
    margin:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color:#333;
}

button{
    padding:15px 25px;
    margin-top: 5px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}