a{
    padding:15px;
    background-color: gold;
    /* background:#ccc;  */
    border:0 none;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.login, .register, .reset, .forgot{
    padding: 0;
    margin-top: 50px;
    text-align: center; 
}

input {
    padding:5px;
    margin:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color:#333;
}

button{
    padding:15px 25px;
    margin-top: 5px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
span{
    text-align: left;
    margin-top: 5px;
}



/* Chat Style */

.hstyle{
    color:rgb(23, 72, 233);
    padding: 1px;
    font-style: italic;
}

.logout{
    float: right;
    list-style-type:none;
    
    padding-right: 15px;
}
.flex {
    display: flex
}
.sidebar {
    /* background-image: url('../asserts/chat.jpeg'); */
    width: 30%;
    height: 650px;
    overflow-y: scroll;
}
.msgspace {
    /* background-image: url('../asserts/chatback.jpeg'); */
    width: 80%;
    height: 650px;
    margin-top: 0%;
    overflow-y: scroll;  
}
.sendbox {
    
    margin-top: 50%;
    height: 78px;
}
.inputbox{
    height:50px;
    width:80%;
    margin-top: 15px;
    margin-left: 20px;
}
.sendButton{
    height:50px;
    width:100px;
    color: darkgreen;
    text-align: center;
}

.userButton{
    margin-top: 2%;
    background-color:yellow;
    width: 100px;
    height:40px;
}
.text{
    background-color: bisque;
    margin:20px;
    margin-top: 10px;
}
.rtext{
    background-color: red;
    float: right;
    display: flex;
    flex: 1 1 auto;
    margin-right: 5%;
}
.ltext{
    background-color: yellow;
    float:left;
    display: flex;
    flex: 1 1 auto;
    margin-left: 5%;
}
.receiver{
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: aquamarine;
}