    <!------------------ Chat Template --------------------->

<div class="chatapp">
    <div class="user">
        <nav>
            <ul>
                <button class="logout" ng-click="logout()" ui-sref="login">LogOut</button>
                <li class="logout"><b>{{loggedUser}}</b></li>
            </ul>
        </nav>
    </div>
    <div class="listbox">
        <ul ng-repeat="item in users" ng-click="getUser(item)" ng-show='loggedUser != item.firstName'>
            <button class="list-item" type="submit">{{item.firstName}}</button>
        </ul>
    </div>
    <p class="receiver"><b>{{receiver}}</b></p> 
    <div class="flex">
        <div class="chatDisplay">
            <div ng-repeat="person in messageData">  
                <span class="receivedText" ng-show="loggedUserId == person.sender_id">{{person.message}}</span><br>
                <span class="sendText" ng-show="loggedUserId != person.sender_id">{{person.message}}</span><br>   
            </div>
        </div>
    </div>
    <div class="messageArea">
        <input class="messageBox" type="text" ng-model="message" name="message" placeholder="Type your message...">
        <button ng-click="sendUserMessage(message);reset()" class="sendMessage">Send</button>  
    </div>
</div>





