    <!--------------- Registeration Template ----------------->

<div class="register">
    <h1 class="head">Welcome to Registration Page</h1>
    First Name: <input type="text" ng-model="first" placeholder="First Name"> <br>
    Last Name: <input type="text" ng-model="last" placeholder="Last Name"> <br>
    Username: <input type="text" ng-model="username" placeholder="Email"> <br>
    Password: <input type="password" ng-model="password" placeholder="Password"> <br>
    <button type="submit" ng-click="submit()">Submit</button>
</div>

<!--------------- Login Template Route ----------------->

<div class="login">
    <h3>If already registered, please login</h3>
    <button ui-sref='login' type="submit">Login</button>
</div>
